<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
        aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 ">
          <li class="nav-item">
            <a class="nav-link " href="#">Inicio</a>
          </li>
          <li class="nav-item" *ngIf="usurio == 'wmontoya'">
            <a class="nav-link" href="/publicaciones">Publicaciones</a>
          </li>

          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Configuraciones</a>
          </li> -->

          <li class="nav-item" *ngIf="usurio == 'wmontoya'">
            <a class="nav-link" href="#">Reportes</a>
          </li>

          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Alertas</a>
          </li> -->
        </ul>
        <div class="d-flex">
          <div class="btn-group">
            <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown"
              data-bs-display="static">
              <i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i> {{usurio}}
            </button>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
              <li>
                <button (click)="logout()" class="dropdown-item" type="button">
                  <a class="nav-link" href="/inicio">
                    <i class="fa fa-sign-out"></i>
                    Logout
                  </a>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>


  <div class="container-fluid">

    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="card mt-4">
          <div class="card-body">
            <h5 class="card-title">Aceptación de Publicaciones</h5>

            <div class="row mt-4">

              <div class="col-12">
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Estado</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let offer of listaTipoOfertas; let i = index;">
                        <th scope="row">{{i+1}}</th>
                        <td>{{offer.FK_User.User}}</td>
                        <td>{{offer.FK_TypeOffer.TypeOffer}}</td>
                        <td>{{offer.Price | currency:'₡'}}</td>
                        <td>{{offer.ServiceDescription}}</td>
                        <td>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" [checked]="offer.State== 'A'? true:false" (change)="modificarEstado(i,$event.target)"  type="radio" name="inlineRadioOptions{{i}}" id="inlineRadio{{i}}" value="A">
                            <label class="form-check-label"  for="inlineRadio{{i}}">Activo</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" [checked]="offer.State== 'I'? true:false" (change)="modificarEstado(i,$event.target)" type="radio" name="inlineRadioOptions{{i}}" id="inlineRadio{{i}}" value="I">
                            <label class="form-check-label" for="inlineRadio{{i}}">Inactivo</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input"[checked]="offer.State== 'P'? true:false" (change)="modificarEstado(i,$event.target)"  type="radio" name="inlineRadioOptions{{i}}" id="inlineRadio{{i}}" value="P">
                            <label class="form-check-label" for="inlineRadio{{i}}">Pendiente</label>
                          </div>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                </div>

              </div>

            </div>


          </div>
        </div>
      </div>
      <div class="col-1"></div>
    </div>


  </div>



</body>

</html>